@model IEnumerable<Todo.Models.UserTask>

@{
	ViewData["Title"] = "Tarefas";
}

<body>
	<h1>Tarefas</h1>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Titulo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Descricao)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Data)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(model => item.Id)
					</td>
					<td>
						@Html.DisplayFor(model => item.Titulo)
					</td>
					<td>
						@Html.DisplayFor(model => item.Descricao)
					</td>
					<td>
						@Html.DisplayFor(model => item.Data)
					</td>
					<td>
						@Html.DisplayFor(model => item.Status)
					</td>
					<td>
						<a class="btn btn-secondary" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
						<a class="btn btn-secondary" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
						<a class="btn btn-secondary" asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>