@model IEnumerable<Todo.Models.UserTask>

@{
	ViewData["Title"] = "Tarefas";
}

<body>
	<div class="text-center">
		<h1>Página de Tarefas</h1>
	</div>
	<hr>
	<div class="text-center">
		<div class="my-3">
			<a class="btn btn-primary" asp-action="Criar">Adicionar Tarefa</a>
		</div>
		<div class="my-3">
			<fieldset class="border">
				<legend>Filtrar Atividades</legend>
				<form asp-action="Filtro">
					
				</form>
			</fieldset>
		</div>
	</div>
	<hr>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Titulo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Descricao)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Data)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(model => item.Id)
					</td>
					<td>
						@Html.DisplayFor(model => item.Titulo)
					</td>
					<td>
						@Html.DisplayFor(model => item.Descricao)
					</td>
					<td>
						@Html.DisplayFor(model => item.Data)
					</td>
					<td>
						@Html.DisplayFor(model => item.Status)
					</td>
					<td>
						<a class="btn btn-secondary" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
						<a class="btn btn-secondary" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
						<a class="btn btn-danger" asp-action="Deletar" asp-route-id="@item.Id">Excluir</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>